{% extends 'base.html' %}

{% block main_content %}

    <div class="check">
            {% if total_items <= 0 %}

                <h1>Your Shopping Cart is Empty</h1>
                <div class="text-left">
                    <a style="font-size:14px;" href="{% url "index" %}" class="btn btn-success btn-xs">Click to select a movie for rent!</a>
                </div>
            {% else %}
			{% if error_message %} <div class="alert alert-danger">{{ error_message }}</div> {% endif %}
			 <h1>Selected Movies For Rent ({{ total_items }})</h1>
            {% endif %}

        <div class="col-md-12 cart-items">
             {% for item in cart %}
			 <div class="cart-header col-md-4">
				 <div class="close1" data-id="{{ item.product.id }}">
                 </div>
				 <div class="cart-sec simpleCart_shelfItem">
						<div class="cart-item cyc">
                            {% load static %}
                            <a href="{% url "movie_details" item.product.id  %}"><img src="/{{ item.product.cover }}" class="img-responsive" alt="" width=""/></a>
						</div>
					   <div class="cart-item-info">
						<h3><a href="{% url "movie_details" item.product.id  %}">{{ item.product.title }}</a></h3>
						<ul class="qty">
							<li><p style="font-size:14px;">Qty : {{ item.quantity }}</p></li>
                            <li><p style="font-size:14px;">Price per day : {{ item.total_price }} €</p></li>
						</ul>

							 <div class="delivery">
{#							 <span>Delivered in 2-3 bussiness days</span>#}
							 <div class="clearfix"></div>
				        </div>
					   </div>
                     <desc>{{ item.product.description|truncatewords:"15" }}</desc>
					   <div class="clearfix"></div>

				  </div>
			 </div>
             {% endfor %}
		 </div>
		  <div class="col-md-12 cart-total">
			 <div class="price-details">
				 <h1>Price Details</h1>
				 <span style="font-weight: bold; font-size: 16px; margin-top: -35px;">Total Price Per Day: {{ total_price }} €</span>
				 <div class="clearfix"></div>
			 </div>


			 <div class="clearfix"></div>
			  <br>
			  <strong style="text-decoration: underline; font-size:16px; color:brown;">Important (Invoice Details):</strong><br>
			  <h5>In order to place order you must first fill in your personal details in <a href="{% url 'user_profile' %}">user profile</a> section.</h5><br>
			  <h4>1. Required Delivery Details</h4><br>
			  <form action="{% url 'checkout_view' %}" method="post">
				  {% csrf_token %}
				  <div class="form-group">
				  	<label for="datepicker">Delivery Date: <sup>*</sup></label>
				  	<input type="text" id="datepicker" size="35" name="datepicker" required class="form-control">
				  </div>
				  <div class="form-group">
					  <label for="timepicker">Delivery Time: <sup>*</sup></label>
					  <input type="text" id="timepicker" size="35" name="timepicker" required class="form-control">
				  </div>
				  <h4>2. Optional Invoice Details</h4><br>
				  <div class="form-group">
					  <label for="company_name">Company Name:</label><br>
					  <input type="text" id="company_name" size="35" name="company_name" class="form-control">
				  </div>
				  <div class="form-group">
					  <label for="telephone">Telephone:</label><br>
					  <input type="text" id="telephone" size="35" name="telephone" onkeypress="return isNumber(event)" class="form-control">
				  </div>
			 		<input type="submit" class="btn btn-success btn-block" {% if total_items == 0 %} disabled {% endif %} value="Place Order"/>
			  </form>
			</div>


			<div class="clearfix"> </div>
	 </div>
    <script>
		$('#timepicker').timepicker({ 'timeFormat': 'H:i:s' });
		$( "#datepicker" ).datepicker({ dateFormat: 'dd-mm-yy' , minDate:0});

        $(".close1").on('click', function(){

            var con = confirm('Are you sure you want to delete this movie from your cart?');

            if (con) {
                var movie_id = $(this).data('id');
                $.ajax({
                    type:'post',
                    url: '{% url "remove_from_cart" %}',
                    data: {'movie_id': movie_id, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    dataType: 'JSON',
                    success: function(data){
                        if(data.status == 'success'){
                            alert('Movie Deleted From Cart');
                        } else {
                           alert('Something Went Wrong');
                        }
                    },
                    error: function(){
                        alert('Ajaxian Error');
                    }
                });
                window.location.reload(true);
            }

        });

        function isNumber(evt) {
			evt = (evt) ? evt : window.event;
			var charCode = (evt.which) ? evt.which : evt.keyCode;
			if (charCode > 31 && (charCode < 48 || charCode > 57)) {
				return false;
			}
			return true;
		}
    </script>
{% endblock %}