{% extends 'base.html' %}

{% block main_content %}

    <div class="content-top">
        <h1>{{ data.0.genre.title }}</h1>
        <div class="grid-in">
            {% if not data %}
                <h1>There is no movie here..</h1>
            {% else %}
            {% for genre in data %}
            <div class="col-md-3 grid-top">
                {% load static %}
                <a href="{% url 'movie_details' movie_id=genre.movie.id  %}" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive" src="/{{ genre.movie.cover }}" alt="">
                    <div class="b-wrapper">
                        <h3 class="b-animate b-from-left    b-delay03 ">
                            <span>More Details</span>
                        </h3>
                    </div>
                </a>
                <p><a href="{% url 'movie_details' movie_id=genre.movie.id  %}" title="{{genre.movie.title}}">{{ genre.movie.title | truncatechars:20 }}</a></p><br>
             {% if user.is_authenticated %}
                    {% for q in quantities %}
                        {% if q.id == genre.movie.id %}
                            {% if q.quantity == 0 %}
                                <a class="btn btn-danger btn-sm" href="#">Out Of Stock</a>
                            {% else %}
                                <a class="btn btn-warning btn-sm addToCart" href="#" data-id="{{ genre.movie.id }}">Add To Cart</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            {% endfor %}
            {% endif %}
            <div class="clearfix"></div>
        </div>
        <nav class="in">
            {% if data.has_other_pages %}
              <ul class="pagination">
                {% if data.has_previous %}
                  <li><a href="?page={{ data.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in data.paginator.page_range %}
                  {% if data.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if data.has_next %}
                  <li><a href="?page={{ data.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}
        </nav>
    </div>

    <script>
        $(".addToCart").on('click', function(e){
            e.preventDefault();
            var movie_id = $(this).data('id');
           $.ajax({
                type: 'POST',
                url: '{% url "add_to_cart" %}',
                data: {'movie_id': movie_id, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                dataType: 'JSON',
                success: function(data){
                    console.log(data);
                    if (data.status == 'success') {
                        alert('Movie Added In Your Cart');
                    } else if (data.status == 'no_available'){
                        alert('Out Of Stock')
                    } else {
                        alert('Something Went Wrong')
                    }
                },
                error: function(){
                    alert('Ajaxian Error');
                }
           });
           window.location.reload(true);
        });
    </script>

{% endblock %}