<div class=" h_menu4">
            <ul class="memenu skyblue">
                  <li class="active grid"><a class="color8" href="{% url "index" %}">Home</a></li>
                    <li>
                        <a class="color1" href="{% url 'movie_by_genre' genre_title='comedy' %}">Comedy</a>
                    </li>
                <li class="grid"><a class="color2" href="{% url 'movie_by_genre' genre_title='drama' %}">Drama</a>
                <li class="grid"><a class="color3" href="{% url 'movie_by_genre' genre_title='animation' %}">Animation</a>
                <li class="grid"><a class="color6" href="#">All Genres</a>
                    <div class="mepanel">
                    <div class="row">
                        <div class="col3">
                            <div class="h_nav">
                                <ul>
                                    {% for genre in genres %}
                                    <li><a href="{% url 'movie_by_genre' genre_title=genre.title %}">{{genre.title}}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                      </div>
                    </div>
            </li>
          </ul>
        </div>