<div class="banner">
		<div class="container">
                {% load static %}
			  <script src="{% static "js/responsiveslides.min.js" %}"></script>
  <script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>
			<div  id="top" class="callbacks_container">
			<ul class="rslides" id="slider">
				<li>
						<div class="banner-text">
							<h3>Free Registration</h3>
						<p>Get a discount of 20% in your first order.</p>
								<a href="{% url 'registration_register' %}">Learn More</a>

						</div>

				</li>
			    <li>

						<div class="banner-text">
							<h3>Find The Latest Movies To Rent </h3>
						<p>The new released movies are shown below. Don't miss a chance to rent one for a small charge.</p>
						</div>

				</li>

			</ul>
		</div>

	</div>
	</div>