{% extends 'base.html' %}

{% block main_content %}

    <div class="check">

        <div class="col-md-12 cart-items">
            {% if not orders %}
                <h1 class="text-center">You haven't made any orders yet.</h1>
            <h1 class="text-center"><a href="{% url 'index' %}">Discover Movies To Rent</a></h1>
            {% else %}
            <h1 class="text-center">User History</h1>
             {% for order in orders %}
			 <div class="cart-header">
                 <div class="history-details">
                     <div class="history_date">
                         <h4 class="fixed">{{order.created|date:"d-m-Y"}}</h4>
                     </div>
                     <h2>Order #{{forloop.counter}}</h2><br>
                     <h4>Selected Movies:</h4>
                            {% for m in movies %}
                                {% if m.order_id == order.id %} <p class="selected_movie"><a href="{% url 'movie_details' m.movie_id %}">{{ m.title }}</a></p> {% endif %}
                            {% endfor %}
                 </div>
			 </div>
             {% endfor %}
            {% endif %}
		 </div>
			<div class="clearfix"> </div>
	 </div>
{% endblock %}