{% extends 'base.html' %}

{% block main_content %}

    <div class="check">

        <div class="col-md-12 cart-items">
            <h1 class="text-center">User History</h1>

             {% for order in orders %}
			 <div class="cart-header">
                 <div class="history-details">
                     <div class="history_date">
                         <h4 class="fixed">{{order.created|date:"d-m-Y"}}</h4>
                     </div>
                     <h2>Order #{{forloop.counter}}</h2><br>
                     <h4>Selected Movies:</h4>
                            {% for m in movies %}
                                {% if m.order_id == order.id %} <p class="selected_movie"><a href="{% url 'movie_details' m.movie_id %}">{{ m.title }}</a></p> {% endif %}
                            {% endfor %}
                 </div>
			 </div>
             {% endfor %}
		 </div>
			<div class="clearfix"> </div>
	 </div>
    <script>
		$('#timepicker').timepicker({ 'timeFormat': 'H:i:s' });
		$( "#datepicker" ).datepicker({ dateFormat: 'dd-mm-yy' });

        $(".close1").on('click', function(){

            var con = confirm('Are you sure you want to delete this movie from your cart?');

            if (con) {
                var movie_id = $(this).data('id');
                $.ajax({
                    type:'post',
                    url: '{% url "remove_from_cart" %}',
                    data: {'movie_id': movie_id, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    dataType: 'JSON',
                    success: function(data){
                        if(data.status == 'success'){
                            alert('Movie Deleted From Cart');
                        } else {
                           alert('Something Went Wrong');
                        }
                    },
                    error: function(){
                        alert('Ajaxian Error');
                    }
                });
                window.location.reload(true);
            }

        });
    </script>
{% endblock %}